.btn {
    border: 0 !important;
    border-radius: 2px;
    padding: 7px;
    font-weight: bold;
    cursor: pointer;
}

.btn-sm {
    font-size: 10px !important;
    padding: 4px !important;
}

.d-block {
    width: 100% !important;
}

.btn-transparent {
    background: transparent !important;
    color: rgba(0, 0, 0, 0.5) !important;
}

.btn-default {
    background-color: #ccc !important;
    color: #555 !important;
}

.btn-green {
    background-color: #9ef1b7 !important;
    color: #096f15 !important;
}

.btn-blue {
    background-color: #6ad3ea !important;
    color: #145a6f !important;
}

.btn-orange {
    background-color: #f7d35e !important;
    color: #88731d !important;
}

.btn-red{
    background-color: #f78e83 !important;
    color: #7b1a0c !important;
}

.margin-lr {
    margin-left: 10px !important;
    margin-right: 10px !important;    
}

.form-input {
    margin: 5px 0;
    text-align: left;
}

.modal-blur {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: #0000005c;
    z-index: 999;
}

select {
    width: 100%;
    padding: 4px;
    background: transparent;
    border-radius: 5px;
    border-color: #cdcdcd;
}

.modal {
    width: 600px;
    position: absolute;
    left: calc(50% - 300px);
    top: 20px;
    margin-bottom: 20px;
    z-index: 9999;
    padding: 20px;
    background-color: white;
    border: 1px solid #969696;
    border-radius: 5px;
}

.modal-head {
    border-bottom: 1px dashed #999;
    padding-bottom: 4px;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 12px;
    color: #444;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-body {
    margin: 5px 0;
}

.modal-footer {
    text-align: right;
}

.App-empty-content {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    height: 300px;
    font-weight: bold;
    color: #eee;
    width: 400px;
    margin: 0 auto;
    text-align: center;
}