.board-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    margin-top: 5px;
}

.board-title-container {
    display: flex;
    align-items: center;
}

.board-name {
    font-weight: bold;
    color: #222;
}

.board-actions > button {
    margin: 0 2px;
}

.board-content {
    margin: 0 5px;
}