.card {
    background-color: white;
    margin: 10px 0;
    padding: 5px 5px;
    border-radius: 3px;
    color: #444;
    text-align: left;
    position: relative;
    max-width: 300px; /* same as column max width */
}

.card-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-title {
    font-weight: bold;
    width: 70%;
    word-wrap: break-word;
}

.card-description {
    font-size: 14px;
    margin-top: 5px;
}

.card-actions {
    text-align: right;
}

.card-labels {
    margin: 5px 0;
}

.color-red {
    color: #d87979 !important;
}