.column {
    text-align: center;
    min-height: 450px;
    width: 300px;
    background-color: #eee;
    padding: 5px;
    float: left;
    margin: 5px;
}

.column-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 1px dashed #ccc;
}

.column-title {
    font-weight: bold;
    font-size: 14px;
    color: #777;
    max-width: 100px;
}

.column-actions {
    margin-left: 20px;
}

.column-actions > button {
    margin-left: 2px;
}