.editcard {
    width: 350px;
    left: calc(50% - 175px);
    text-align: center;
}

.editcard > div {
    text-align: center;
}

.editcard input,
.editcard textarea{
    font-size: 14px;
    border: 1px solid #ccc;
    margin: 3px 5px;
    margin-left: 0;
    padding: 5px;
    border-radius: 3px;
    width: 100%;
}

.editcard-input-label {
    font-size: 12px
}

.editcard-addlabel {
    display: inline-flex;
    align-items: center;
}

.editcard-colorpick {
    text-align: center;
}

.colorpick-color,
.colorpick-color-active{
    width: 25px;
    height: 25px;
    border: 2px solid white;
    display: inline-block;
    margin: 2px;
}

.colorpick-color-active {
    border-color: black;    
}

.editcard-form-input-seperator {
    margin-top: 15px;
    border-top: 1px solid #eee;
    padding-top: 15px;
}

.editcard-dep {
    margin: 7px 0;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}