.header {
    padding: 2px 2px;
    height: 37px;
    background: rgb(236, 236, 236);
    color: #6f6f6f;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-title {
    text-align: center;
}

.header-actions {
    text-align: right;
    padding-right: 5px;
}

.header-actions > button {
    margin-left: 5px;
}